/* 0x4248.github.io
 * My github page
 * GitHub: https:///www.github.com/0x4248
 * Licence: GNU General Public License v3.0
 * By: 0x4248
 */

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile h1 {
    font-size: 2rem;
}

.profile p {
    margin: 0;
    color: var(--light-gray);
}

.profile-left {
    width: 50%;
}

.profile-right {
    width: 50%;
    text-align: right;
}

.profile img {
    border-radius: 10px;
}

.flag {
    display: inline-block;
    width: 25px;
    height: 20px;
    border: none;
    border-radius: 2px;
}

.flag.asexual {
    background: linear-gradient(black 25%, darkgray 0 50%, white 0 75%, #a50089 0);
}

.flag.aromantic {
    background: linear-gradient(#0a2 20%, #7d6 0 40%, white 0 60%, darkgray 0 80%, black 0)
}

.aboutme-image {
    width: 400px; 
    height: 500px; 
    object-fit: cover; 
    margin-left: 20px;
    transition: 0.3s ease;
}

.music-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    z-index: 1000;
    opacity: 0;
    animation: animation-in 1s forwards 0.8s cubic-bezier( 0.86, 0, 0.07, 1 );
}


.debug-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    z-index: 1000;
    opacity: 0;
}

.music-button img {
    width: 100px;
    border-radius: 10px;
    margin-right: 10px;
    transition: all cubic-bezier( 0.86, 0, 0.07, 1 ) 0.3s;
}

.music-button img:hover {
    width: 200px;
}
.music-flex {
    display: flex;
    align-items: center;
}

.music-button p {
    margin: 0;
}

@media screen and (max-width: 800px) {
    .aboutme-image {
        width: 200px;
        height: 250px;
        margin-left: 5px;
    }
}