/* 0x4248.github.io
 * My github page
 * GitHub: https:///www.github.com/0x4248
 * Licence: GNU General Public License v3.0
 * By: 0x4248
 */

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile h1 {
    font-size: 2rem;
}

.profile p {
    margin: 0;
    color: var(--light-gray);
}

.profile-left {
    width: 50%;
}

.profile-right {
    width: 50%;
    text-align: right;
}

.profile img {
    border-radius: 10px;
}

.flag {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

.flag.demisexual {
    background: 
      conic-gradient(at 35.5% 50%, #0000 228deg, black 0 312deg, #0000 0),
      linear-gradient(white 42%, purple 0 58%, lightgray 0);
 }
 
 .flag.demiromantic {
    background: 
      conic-gradient(at 35.5% 50%, #0000 228deg, black 0 312deg, #0000 0),
      linear-gradient(white 42%, #092 0 58%, lightgray 0);
 }

.flag.gay {
    background:
      linear-gradient(#00916e 0 14.28%, #00d2a9 0 28.57%, #7debbe 0 42.85%, white 0 57.14%, #6eaee7 0 71.42%, #5443d3 0 85.71%, #43117d 0);
}

.aboutme-image {
    width: 400px; 
    height: 500px; 
    object-fit: cover; 
    margin-left: 20px;
    transition: 0.3s ease;
}

@media screen and (max-width: 800px) {
    .aboutme-image {
        width: 200px;
        height: 250px;
        margin-left: 5px;
    }
}