/* 0x4248.github.io
 * My github page
 * GitHub: https:///www.github.com/0x4248
 * Licence: GNU General Public License v3.0
 * By: 0x4248
 */

:root {
    --background-colour-dark: #000000;
    --background-colour-light: #0e0e0e;
    --light-gray: #b1b1b1;
    --dark-gray: #444444;
    --text-colour: #e8e8e8;
    --text-alt-colour: #4a95ec;
    --text-alt-colour-darker: #3976bc;
    --dot-bg: var(--background-colour-dark);
    --dot-color: #101010;
    --dot-size: 4px;
    --dot-space: 22px;
}