/* 0x4248.github.io
 * My github page
 * GitHub: https:///www.github.com/0x4248
 * Licence: GNU General Public License v3.0
 * By: 0x4248
 */

:root {
    --color-primary: #dedede;
    --color-secondary: #f7f7f7;
    --background-main: #222;
    --background-light: #2f2f2f;
    --background-dark: #111;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) var(--background-light);
    --webkit-scrollbar-width: thin;
    --webkit-scrollbar-color: var(--color-primary) var(--background-light);

}

body {
    background-color: var(--background-main);
    color: var(--color-primary);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0;
}

a {
    color: var(--color-primary);
}

a:hover {
    text-decoration: underline;
}

.header {
    background-color: var(--background-light);
    text-align: center;
    height: 100vh;
    opacity: 0;
    animation: fade 1s ease forwards 0.5s;
}

.header img {
    display: block;
    margin: 0 auto;
    max-width: 40%;
    height: auto;
    width: 40%;
    opacity: 0;
    animation: fade 1s ease forwards 1s;
}

.header h1 {
    font-size: 200%;
    margin: 1rem 0;
    opacity: 0;
    animation: fade 1s ease forwards 1.5s;
}

.header img:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.header img:not(:hover) {
    transform: scale(1);
    transition: transform 0.2s ease;
}


.blinking-cursor {
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.down-arrow {
    font-size: 2rem;
    opacity: 0;
    animation: fade 1s ease forwards 4s, move 1s ease infinite 2s;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes move {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0.5rem);
    }
}

@media screen and (max-width: 768px) {
    .header img {
        max-width: 80%;
        width: 80%;
    }   
}

@media screen and (max-width: 480px) {
    .header img {
        max-width: 100%;
        width: 100%;
    }
}

.main {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.section {
    background-color: var(--background-light);
    padding: 2rem;
    margin-top: 10px;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.footer {
    background-color: var(--background-light);
    padding: 1rem;
    margin-top: 10px;
    display: flex;
}

.flex-left{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.flex-right{
    margin-right: auto;
}

.flex-right p {
    margin: 0;
}

.footer img {
    width: 50px;
    height: 50px;
    margin: 0 1rem;
}

.footer a {
    text-decoration: none;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0000003b;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    opacity: 0;
}

.top-bar a {
    text-decoration: none;
    margin-right: 40px;
}

ul {
    list-style-type: none;
}

.pixelate {
    image-rendering: pixelated;
}

.overlay-window {
    display: none;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(10px);
    border: 1px solid #4e4e4e;
    border-radius: 0.5rem;
    padding: 20px;
    max-width: 80%;
    max-height: 80%; 
    overflow-y: auto; 
    overflow-x: hidden;
    z-index: 9999;
}

